<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.sundy_android_test">
    <uses-sdk android:minSdkVersion="11"
              android:targetSdkVersion="19"
              />
    <application
            android:name=".chapter3.ApplicationTest"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            >
        <activity android:name=".launch.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".chapter1.InstanceofTest"/>
        <activity android:name=".chapter1.ArrayTest"/>
        <activity android:name=".chapter1.AnonymousInnerClassTest"/>
        <activity android:name=".chapter1.GenericTest"/>
        <activity android:name=".chapter3.IntentTest"/>
        <activity android:name=".chapter3.IntentTest2">
            <intent-filter>
                <action android:name="com.test.chapter3.DOTEST"/>
                <action android:name=""/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity android:name=".chapter3.LoadView"/>
        <activity android:name=".chapter3.ActivityLifeCycle"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:stateNotNeeded="true"
                />
        <activity android:name=".chapter3.ActivityLifeCycle2"
                android:configChanges="orientation|screenSize"
                />
        <activity android:name=".chapter3.ActivityTaskA"/>
        <activity android:name=".chapter3.ActivityTaskB"/>
        <activity android:name=".chapter3.ServiceTest"/>
        <activity android:name=".chapter3.ServiceTest2"/>
        <activity android:name=".chapter3.StartedServiceTest"/>
        <activity android:name=".chapter4.SimpleCustomViewActivity"/>
        <activity android:name=".chapter4.NinePatchTest"/>
        <activity android:name=".chapter4.TextViewActivity"/>
        <activity android:name=".chapter4.BusinessTextView"/>
        <activity android:name=".chapter4.ButtonTest"/>
        <activity android:name=".chapter4.ListViewTest"
                android:windowSoftInputMode="stateVisible"
                android:configChanges="keyboard|keyboardHidden"
                />
        <activity android:name=".chapter4.SimpleMenuTest"
                android:icon="@drawable/add"
                android:parentActivityName=".launch.LaunchActivity"
                />
        <activity android:name=".chapter4.ContextMenuTest"
                  android:theme="@android:style/Theme.Holo.NoActionBar"
                />
        <activity android:name=".chapter4.StyleTest"/>
        <activity android:name=".chapter4.SharedPreferenceTest"/>
        <activity android:name=".chapter4.PreActivityTest"/>
        <activity android:name=".chapter4.sqlite_test.UserActivity"/>

        <service android:name=".chapter3.SamService"/>
        <service android:name=".chapter3.SamIntentService"/>
        <service android:name=".chapter3.StartedService"/>

    </application>
</manifest>
